body {
  font-family: "Open Sans", sans-serif;
}
.section {
  background-image: linear-gradient(rgb(243, 233, 233), rgb(122, 122, 153));

  border-radius: 20px;
}
.section1 {
  border-radius: 10px;
  margin-top: 10px;

  background-image: linear-gradient(rgb(185, 171, 171), rgb(145, 139, 144));
}
.section2 {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(rgb(177, 127, 127), rgb(156, 155, 56));
}
.section {
  background-color: aqua;
}
h1 {
  color: blue;
}
h4 {
  color: chocolate;
}
h3 {
  text-align: center;
  color: crimson;
  font-size: 30px;
}

p {
  word-spacing: 3px;
  color: rgb(5, 5, 5);
  font-weight: 10px;
  margin-bottom: 30px;
}
#heading {
  text-align: center;
  margin-bottom: 20px;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  margin-left: 20px;
  padding: 20px 40px;
}
.half-width img {
  width: 60%;
  height: auto;
  margin-top: 20px;
}
img {
  border-radius: 10%;
  box-shadow: 10px 10px 5px rgb(131, 125, 125);
  margin: 40px 40px;
}

#button {
  text-decoration: none;
  border-radius: 10px;
  background-image: linear-gradient(orange, tomato);
  padding: 10px;
  color: white;
}
#box {
  margin-top: 40px;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  box-shadow: 10px 20px 40px gray;
  padding-left: 10px;
}
.box1 {
  border-left: 7px solid;
  border-image: linear-gradient(rgb(10, 204, 204), tomato);
  border-image-slice: 1;
}
#footer {
  margin-top: 10%;
  text-align: center;
  font-size: 700;
  color: rgb(240, 44, 10);
}
